* {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

p, li {
    font-size: 16px;    
}

p, li, code {
    color: 	#484848;
}

#nav-bar {
    width: 300px;
    height: 100%;
    position: fixed;
    border-right: 2px solid gray;
}

#nav-bar > header {
    height: 70px;
}
header > h1 {
    text-align: center;
    font-weight: normal;
    margin: 0;
    padding: 20px 0;
    font-size: 26px;
}

#nav {
    height: 80%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-item {
    border-top: 1px solid black;
    list-style-type: none;
    padding: 12px 30px;
}

.nav-link {
    all: unset;
    cursor: pointer;
}

#main-doc {
    position: absolute;
    left: 300px;
    top: 0;
    min-width: 600px;
    padding: 0 50px;       
}

.main-section {
    padding-top: 20px;
}

.section-heading {
    font-size: 24px;
}

.section-article {
    padding-left: 20px;
}